@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }

.header_title {
    display: flex;
    justify-content: center;
    background-color: rgb(33,37,41);
}

.header-box {
    height: 25px;
}

.img_title {
    width: 300px;
    margin-bottom: 10px;
}

.containerDisplay {
    background-image: linear-gradient(180deg, rgb(33,37,41), rgb(62, 230, 59));
    min-height: fit-content;
    width: 100%;
}

.containerEpisodes {
    background-image: linear-gradient(180deg, rgb(33,37,41), rgb(62, 230, 59));
    min-height: fit-content;
    width: 100%;
}

.letter {
    color: rgb(80, 250, 83);
}

.letter_background {
    background-color: rgb(80, 250, 83)!important;
    color: white;
}

.displayNone {
    display: none !important;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: black;
    color:rgb(62, 230, 59)!important;
}

.basic-container {
    margin-left: 30px;
    margin-top: 70px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.basic-subcontainer {
    margin-left: 30px;
    margin-top: 10px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-letter {
    margin-left: 30px;
    margin-top: 70px;
    height: 400px;
    width: 100%;
}

.outline {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 30px;
    background-color: white;
    height: 400px;
}

.title-episode {
    font-size: 30px;
    color: white;
}

.title-episode:hover {
    color:rgb(62, 230, 59);
}

.subtitle-episode {
    font-size: 20px;
    color: white;
}

.extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalContentDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexeo {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 750px) {
    .flexeo {
        display: flex;
        flex-direction: column;
    }
}