@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }

body {
    font-family: 'Nanum Pen Script', cursive!important;
}

.header-img {
    width: 15rem;
}

.header-img-dab {
    width: 10rem;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: rgb(33,37,41);
    color:rgb(62, 230, 59)!important;
}

.container-background-list-episodes {
    background-image: linear-gradient(180deg, rgb(33,37,41), rgb(62, 230, 59));
}

.btn-load-more {
    color: white!important;
}

.btn-load-more:hover {
    color: rgb(80, 250, 83)!important;
}

.display {
    display: none!important;
}

.bounce-effect {
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.bounce-effect:hover {
    transform: scale(1.04);
}

.cursor-pointer {
    cursor: pointer;
}

.container-display {
    background-image: linear-gradient(rgb(33,37,41), rgb(62, 230, 59));
    min-height: fit-content;
    width: 100%;
}

.container-title {
    margin-left: 30px;
    margin-top: 70px;
    height: 40px;
    display: flex;
    justify-content:flex-start;
}

.title-episode {
    font-size: 40px;
    color: white;
}

.container-description {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.description-episode {
    font-size: 25px;
    color: white;
}

.display-card {
    display: inline-block;
    justify-content: center;
    margin: 30px;
    height: fit-content;
    background-color: white;
}

.display-card-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-style {
    width: 20em;
    height: 20em;
}

.p-style {
    font-size: 25px;
}

.modal-content-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-episode-style {
    cursor: pointer;
    font-size: 20px;
    text-decoration: underline;
}

.list-episode-location-style {
    cursor: pointer;
    font-size: 20px;
    text-decoration: underline;
}

.list-episode-location-style:hover {
    cursor: pointer;
    font-size: 20px;
    text-decoration: underline;
    color:rgb(62, 230, 59);
}

.list-episode-style:hover {
    cursor: pointer;
    font-size: 20px;
    text-decoration: underline;
    color:rgb(62, 230, 59);
}

.gif-container {
    display: flex;
    justify-content: center;
}

.gif {
}

@media (max-width: 576px) {
    .flex-sm-column {
        flex-direction: column!important;
    }

    .gif-container {
        display: flex;
        justify-content: center;
        display: none;
    }
    
}